<body id="body"
    class="flex justify-center md:justify-start bg-gradient-to-tr from-indigo-100 to-blue-100 relative min-h-screen mb-1">

    <div
        class="fixed bottom-10 left-0 w-[600px] h-[600px] rounded-full z-[-20] pointer-events-none 
              bg-gradient-to-tr from-indigo-400 to-blue-400 opacity-60 translate-x-[-50%] translate-y-[50%] animate-left-spin-pulse">
    </div>

    <div
        class="fixed top-0 right-0 w-[300px] h-[300px] rounded-full z-[-20] pointer-events-none 
              bg-gradient-to-tl from-blue-400 to-indigo-400 opacity-40 translate-x-[50%] translate-y-[-50%] animate-right-spin-pulse">
    </div>

    <div id="navbar">
    </div>

    <div id="main-view" class="flex-1 w-full">
    </div>

    <footer id="footer">
    </footer>

</body>