<div class="w-full overflow-x-auto select-none">
    <div class="relative">
        <div data-search class="hidden mb-4">
            <input id="user-search" type="text" placeholder="Buscar"
                class="w-full bg-gradient-to-r from-[rgb(var(--body-from))] to-[rgb(var(--body-to))] px-6 py-4 rounded-lg focus:outline-none text-indigo-500 placeholder:text-indigo-300 text-xl placeholder:italic text-shadow shadow-md border-none" />
        </div>
        <table class="min-w-full overflow-hidden text-sm rounded-lg" data-table>
            <thead class="text-xs text-left uppercase select-none">
            </thead>
            <tbody class="text-left divide-y divide-indigo-100">
            </tbody>
        </table>
        <div data-pagination class="flex items-center justify-end hidden gap-2 mt-4 text-xs">
        </div>
    </div>
</div>