<div class="w-full overflow-x-auto select-none" data-table-root>
    <div class="flex flex-wrap gap-3 mb-4" data-search></div>
    <div class="relative">
        <table class="min-w-full overflow-hidden text-sm rounded-lg" data-table>
            <thead class="text-xs text-left uppercase select-none"></thead>
            <tbody class="text-left divide-y divide-[rgb(var(--body-from))]"></tbody>
        </table>
        <div data-pagination class="flex items-center justify-end hidden gap-2 mt-4 text-xs"></div>
    </div>
</div>