<div class="bg-gradient-to-bl from-indigo-50 to-blue-50 rounded-xl drop-shadow p-8 flex gap-8 w-full">

    <div class="flex items-center justify-center">

        <img src="{{senderPicture}}" alt="{{sender}}" class="h-16 w-16 rounded-full object-cover select-none drop-shadow" />

    </div>

    <div class="flex-1">

        <p
            class="font-semibold bg-gradient-to-r from-indigo-400 to-blue-400 bg-clip-text text-transparent drop-shadow select-none">

            {{title}}

        </p>

        <p
            class="text-sm bg-gradient-to-r from-indigo-400 to-blue-400 bg-clip-text text-transparent drop-shadow select-none">

            {{content}}

        </p>

        <span
            class="text-xs bg-gradient-to-r from-indigo-300 to-blue-300 bg-clip-text text-transparent drop-shadow select-none">

            {{sentAt}}

        </span>

    </div>

</div>